@model Elixir.Models.Category

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="card w-100">
        <div class="card-header bg-success text-white text-center">
            Chỉnh sửa loại sản phẩm
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên loại sản phẩm</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="text-left mt-2">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-2"></i> Lưu</button>
                            <a asp-action="Index" class="btn btn-secondary ml-2"><i class="fas fa-arrow-left mr-2"></i> Quay lại danh sách</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome Kit -->
}